.App {
  font-family: Arial, sans-serif;
}

/* Manager view */

.navbar {
  background-color: #f8f8f8;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-content {
  margin: 20px;
}

.side-panel {
  float: right;
  width: 200px;
  margin: 20px;
}

/* Landing page */
.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.login-form {
  margin: 20px;
}

.login-form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.login-form button {
  display: block;
  margin: 10px auto;
  padding: 10px;
}
/* .login-form label {
  display: block;
  margin: 10px auto;
  padding: 10px;
} */

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  color: black;
  text-align: center;
  padding: 10px;
}