.App {
  font-family: Arial, sans-serif;
  text-align: left;
}

/**********************************Home view **********************************/
.jobColumns {
  background-color: #F4EB27;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  /* margin-right: 50px; adjust as needed */
}

.jobColumns a {
  padding: 20px 56px;
  text-decoration: none;
  font-weight: bold;
}

.jobs-container {
  display: flex;
  flex-direction: column;
}

.job-details {
  /* width: 1500px; */
  display: flex;
  flex-direction: column;
}

.job-details p {
  /* width: 1000px; */
  display: flex;
  flex-direction: column;
}

.job-id {
  width: 50px;
}
/* for everything greater than 500px */
@media (min-width: 500px) {
  .jobs-container {
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 200px;
  }

  .job-details {
    justify-content: space-between;
    flex-direction: row;
    
    width: 1500px;
    display: flex;
  /* justify-content: space-between; */
  margin-left: 10px;
  margin-right: 10px;
  }
  .job-details p {
    max-width: 100px;
  }
}




/************************************ Main view*************************************88 */
.main-content {
  margin: 20px;
}

.navbar {
  background-color: #f8f8f8;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  /* margin-right: 50px; adjust as needed */
}

.navbar button {
  margin-top: 10px;
  display: inline-block;
  background-color: #f8f8f8; /* Green background */
  color: black; /* Black text */
  padding: 10px 20px; /* Add some padding */
  font-family: Arial, sans-serif; /* Change the font */
  margin-right: 15px; /* Add some space between buttons */
  margin-left: 15px;
  border: none; /* This will remove the border from the buttons */
}
.navbar-right {
  margin-left: 10px; /* adjust as needed */
}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.main-content button {
  margin-top: 10px;
  display: inline-block;
  background-color: green; /* Green background */
  color: black; /* Black text */
  padding: 10px 20px; /* Add some padding */
  font-family: Arial, sans-serif; /* Change the font */
  margin-right: 15px; /* Add some space between buttons */
  border-radius:10%;
  margin-right: 10px;
  margin-left: 30px;
}

.side-panel {
  float: right;
  width: 200px;
  margin: 20px;
  border-left: 1px solid #ccc; /* This adds a border to the left side of the sidebar */
}

/* Landing page */
.App-header {
  background-color: #F4EB27;
  padding: 20px;
  height: 100px
  /* color: white; */
}

.App-header h1 {
  font-size: 56px;
  font-weight: bold;
  font-style: italic;
}

.landing-page {
  margin-top: 40px;
  margin-left: 20px;
  width: 90%;


}

.landing-page a {
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-decoration: none; /* Remove the underline */
}

.landing-page h1 {
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-decoration: none; /* Remove the underline */
  text-align: center;
}
.landing-page h2 {
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-decoration: none; /* Remove the underline */
  /* text-align: center; */
}

.testimonial-section h2{

  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-left: 100px;
  
}
.testimonial-section p{

  max-width: 600px;
  margin-left: 200px;
}

.top-section,
.quote-section {
    display: flex;
    justify-content: flex-end;
}

.landing-page button {
  margin-top: 10px;
  display: inline-block;
  background-color: green;  /* Green background  */
  color: black; /* Black text */
  padding:  20px; /* Add some padding */
  font-family: Arial, sans-serif;/*  Change the font */
  margin-right: 15px;  /*Add some space between buttons */
  border-radius:  10%;
  margin-right: 200px;
}
.landing-page h1 {

  justify-content: left;
 
  margin-left: 200px;
}

.landing-page Link{
  margin-right: 20px;
}

/* end landing page */

/* login, register, profile add worker form */
.App {
  
  text-align: left;
}

.login-form {
  margin-top: 40px;
  margin-left: 20px;

}
.login-form select,
.login-form input, 
.login-form button {
  display: block;
  margin-bottom: 20px;
  border-radius:5%;
}



.login-form button {
  margin-top: 10px;
  display: inline-block;
  background-color: green; /* Green background */
  color: black; /* Black text */
  padding: 10px 20px; /* Add some padding */
  font-family: Arial, sans-serif; /* Change the font */
  margin-right: 15px; /* Add some space between buttons */
  border-radius:10%;
}

.login-form a {
  color: black;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-decoration: none; /* Remove the underline */
}

/* end login form */
/* Side panel*/
.job-form-and-side-panel {
  display: flex;

  
  
}


.side-panel {
  flex: 1; /* this will take up 1/4 of the parent div's width */
}

.side-panel p{

  margin-left: 20px;
  margin-right: 20px;
}

.side-panel h2{

  margin-left: 20px;
  margin-right: 20px;
}
/* Side panel*/
/* Job Form */
.job-form {
  max-height: 600px;  /* Adjust this as needed */
  overflow-y: auto;
  max-width: 600px;
  margin-left: 0px;
  margin-top: 20px;
  background-color: #ccc;
  border-radius:2%;
  flex: 3; /* this will take up 3/4 of the parent div's width */
}

.job-form button {
  margin-top: 10px;
  display: inline-block;
  background-color: green; /* Green background */
  color: black; /* Black text */
  padding: 10px 20px; /* Add some padding */
  font-family: Arial, sans-serif; /* Change the font */
  margin-right: 15px; /* Add some space between buttons */
  border-radius:5%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.job-form p {
  margin-left: 20px;
  margin-right: 20px;
 
}
.form-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 20px; 
  margin-right: 20px;
  /* padding: 20px; */
  align-items: center; /* this will vertically align the items in the center */

}

.form-row input{
  flex: 2;
  margin-right: 10px;
  height: 20px;

  
}

.date-input {
  width: 10px; /* adjust the value as needed */
}

.form-row textarea {
  height: 100px;
  flex: 2;
  margin-right: 10px;
}


/* Removing margin from the last input of each row */
.form-row input:last-child, .form-row textarea:last-child {
  margin-right: 10;
}


/* end Job Form */

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  color: black;
  text-align: center;
  padding: 10px;
}